* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, sans-serif;
}

body {
    background-image: url(/ressources/makereservation_dark.jpg);
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}
.italianno-regular {
    font-family: "Italianno", cursive;
    font-weight: 400;
    font-style: normal;
  }
  
h1{
    font-family: "Italianno", cursive;
}

.reservation-container {
    background-color: #ffffff;
    padding: 20px 40px;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    max-width: 400px;
    width: 100%;
}

h1 {
    text-align: center;
    color: #333;
    margin-bottom: 20px;
}

.formualaire {
    margin-bottom: 15px;
}

.formualaire label {
    display: block;
    color: #333;
    font-weight: bold;
    margin-bottom: 5px;
}

.formualaire input {
    width: 100%;
    padding: 8px;
    border: 1px solid #ddd;
    border-radius: 5px;
    font-size: 16px;
}

button {
    width: 100%;
    padding: 10px;
    border: none;
    border-radius: 5px;
    background-color: #333a60;
    color: white;
    font-size: 16px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

button:hover {
    background-color: #474983;
}